<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>

{% set themeConfig = config.themes["portfolio-theme"] %}

{% if pageTitle is not defined %}
    {% set pageTitle = page.title|striptags %}
{% endif %}

{% block head %}
    <meta charset="utf-8" />
	<title>{{ pageTitle is not empty ? pageTitle ~ " :: "}}Raoul Zander :: Portfolio</title>

	{% block favicon %}
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
		<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
		<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
		<link rel="manifest" href="/manifest.json"/>
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#00bdfc"/>
		<meta name="theme-color" content="#222222"/>
	{% endblock %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block assets %}
    	{# 1st: jQuery #}
    	{% if config.system.debugger.enabled %}
       		{% do assets.addJs('jquery', 999) %}
    	{% else %}
       		{% do assets.addJs('jquery', {'group': 'bottom'}) %}
    	{% endif %}

        {# 2nd: jQuery Plugins #}
		{% do assets.addCss('theme://vendor/featherlight-1.7.13/featherlight.min.css') %}
		{% do assets.addJs('theme://vendor/featherlight-1.7.13/featherlight.min.js', {'group': 'bottom'}) %}
		
		{# Own JS #}
		{% do assets.addJs('theme://js/global.js', {'group': 'bottom'}) %}
		{% do assets.addJs('theme://js/contact.js', {'group': 'bottom'}) %}

		{# Other CSS #}
		{% do assets.addCss('theme://icons/styles.css') %}
		{# Compiled main site style #}
		{% do assets.addCss('theme://css-compiled/style.css', 0) %}
	{% endblock %}

    {{ assets.css() }}
    {{ assets.js() }}

{% endblock head%}
</head>
<body {{ bodyAttributes }}>
	<header>
		<a href="#contact"
		   data-featherlight="#contact"
		   class="headerLink contactLink icon-contact button">
			<span>Me</span>
		</a>
{#		TODO CV Link #}
{#		<a href="{{ url('user://data/CV Raoul Zander.pdf') }}" class="headerLink cvLink pdf-icon">CV</a>#}
		<div class="headline">
			<h1>
				<a href="{{ base_url == '' ? '/' : base_url }}">
					<img src="{{ url('theme://images/logo.svg') }}" class="logo" alt="Logo" />
					{#                    <span class="logo">RZ</span> #}
					<span class="headlineText">Portfolio</span>
				</a>
			</h1>
			{% block pageTitle %}
				<h2 class="headlineText">{{ pageTitle }}</h2>
			{% endblock %}
		</div>
	</header>
	<main id="{{ mainId }}"{% if mainClass %} class="{{ mainClass }}"{% endif %}>
		{% block content %}{% endblock %}
	</main>

	{% include 'partials/contact.html.twig' %}

    {% block bottom %}
        {{ assets.js('bottom') }}
    {% endblock %}
</body>
</html>
