<div id="contact" class="flipper">
	<div class="front">
		<div class="leftSide">
			<div class="portrait">
				<img src="{{ url('theme://images/portrait.jpg') }}" alt="Portrait"/>
			</div>
		</div>
		<div class="rightSide">
			<h2>Raoul Zander</h2>
			<h3>Coder</h3>
			<div class="tableContainer">
				<table class="skills">
					{# <caption>Skills</caption>#}

					{% macro skillRow(tagPageUrl, language, title, rating, taxonomy) %}
						<tr class="skillRow">
							{% set numberOfProjects = taxonomy.findTaxonomy({'language': language})|length %}
							<td class="language"><a href="{{ tagPageUrl ~ "/:" ~ language }}" class="languageTag"
							                        title="See all {{ numberOfProjects }} {{ title }} projects"><span
											class="underline">{{ title }}</span>
									<small class="numberOfProjects">{{ numberOfProjects }}</small>
								</a></td>
							<td class="bar">
								<div class="barContainer">
									<div class="filledBar" style="width: {{ rating }}"></div>
								</div>
							</td>
							<td class="level"><span class="tooltip">{{ rating }}</span></td>
						</tr>
					{% endmacro %}

					{% from _self import skillRow %}

					{% set tagPageUrl = page.find("/tag").url %}

					{{ skillRow(tagPageUrl, "java", "Java", "85%", taxonomy) }}
					{{ skillRow(tagPageUrl, "html", "xHTML5", "95%", taxonomy) }}
					{{ skillRow(tagPageUrl, "css", "CSS3", "90%", taxonomy) }}
					{{ skillRow(tagPageUrl, "javascript", "JavaScript", "50%", taxonomy) }}
					{{ skillRow(tagPageUrl, "sql", "SQL", "60%", taxonomy) }}
				</table>
			</div>
			<footer>
				<span class="glas icon-glas"
				      title="Drop me a line!">hello</span>
			</footer>
		</div>
	</div>
	<div class="back">
		<div class="rightSide">
			<h2>Raoul Zander</h2>
			<h3>Coder</h3>
			<p>
				I'm a 27 year-old from Berlin and into coding since I was 14.
			</p>
			<p>
				I enjoy creating both, interactive visuals and abstract software architecture.
			</p>
			<p>
				It's my goal to become an amazing developer and for that I try new things all the time.
			</p>
			<p>
				<a href="{{ url('user://data/CV Raoul Zander.pdf') }}" class="pdf" target="_blank">Curriculum Vitae</a>
			</p>
			<footer>
				<span class="glas icon-glas"
				      title="Drop me a line!">hello</span>
			</footer>
		</div>
	</div>
	<a href="#" class="icon-flip">
		<div class="tooltip">
			flip
		</div>
	</a>
</div>